target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

**/mvnw
**/mvnw.cmd
**/.mvn
**/target/
ideea

.idea/$CACHE_FILE$
.idea/.gitignore
.idea/compiler.xml
.idea/dictionaries
.idea/encodings.xml
.idea/gulimall.iml
.idea/inspectionProfiles/
.idea/jarRepositories.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
gulimall-coupon/.gitignore
gulimall-coupon/.mvn/
gulimall-coupon/mvnw
gulimall-coupon/mvnw.cmd
gulimall-coupon/pom.xml
gulimall-coupon/src/
gulimall-member/.gitignore
gulimall-member/.mvn/
gulimall-member/mvnw
gulimall-member/mvnw.cmd
gulimall-member/pom.xml
gulimall-member/src/
gulimall-order/.gitignore
gulimall-order/.mvn/
gulimall-order/mvnw
gulimall-order/mvnw.cmd
gulimall-order/pom.xml
gulimall-order/src/
gulimall-product/.gitignore
gulimall-product/.mvn/
gulimall-product/mvnw
gulimall-product/mvnw.cmd
gulimall-product/pom.xml
gulimall-product/src/
gulimall-ware/.gitignore
gulimall-ware/.mvn/
gulimall-ware/mvnw
gulimall-ware/mvnw.cmd
gulimall-ware/pom.xml
gulimall-ware/src/
pom.xml
